* text=auto eol=lf

*.go text eol=lf diff=golang
*.sql text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
go.mod text eol=lf
go.sum text eol=lf
Makefile text eol=lf
Dockerfile text eol=lf

internal/apigen/apigen.gen.go linguist-generated=true
go.sum linguist-generated=true

spec/openapi.yaml linguist-detectable=true

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
